<html>
    <head><title> Interactive Run </title>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    .nelly-icon{
    background-image:url("../static/images/nelly.png");
    height:37px;
    width:37px;
    display: block;
    }
   .vertical-center {
   margin:auto;
   float:right;
   }
    </style>
    </head>
    <body>
	<div class="container">
	<div class="vertical-center text-center">
	<button id="logout" style="background-color:d8efc5;color:black;border-color:black;text-align:center;width:200px;height:50px;" onclick="onLogout()">LOGOUT</button></div>
	</div>
        <div class="columns" style="height: 100%">
            <div class="chatWindow">
              <section style="height: 100%">
                <div id="parent"   style="overflow: auto; height: calc(100% - 76px); padding-top: 1em; padding-bottom: 0; padding-left: 0; padding-right: 0;">
                    <article >
                      <div>
                         <div>
                          <img src="{{url_for('static', filename='images/NellyIcon.png')}}" style="width: .84in; height: .48in;display: block;
                           margin: left;"/>
                        </div>
                      </div>
                    </article>
                </div>
                <div>
                  <form id = "interact">
                      <div class="field is-grouped">
                        <p class="control is-expanded">
                          <input class="input" type="text" id="userInput" name="userInput" placeholder="Type something">
                        </p>
                        <p class="control">
                          <input type="image" id="image" alt="Submit"  src="{{url_for('static', filename='images/send-button.png')}}"  style=" width: 37; height: 37; opacity: 100;">
                        </p>
                        <!-- <p class="control">
                          <button id="close" type="reset" class="button has-text-white-ter has-background-grey-dark">
                            Reset Connection
                          </button>
                        </p> -->
                      </div>
                  </form>
                </div>
              </section>
            </div>
        </div>

        <script>

	    function formatDate(){
            var d = new Date()
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
            if (month.length < 2)
        	month = '0' + month;
    	    if (day.length < 2)
        	day = '0' + day;
	        return [year, month, day].join('-')
	        }

	    function isHTML(str) {
             var a = document.createElement('div');
             a.innerHTML = str;
             for (var c = a.childNodes, i = c.length; i--; ) {
             if (c[i].nodeType == 1) return true;
             }
             return false;
             }

	    function isImg(str){
	        if(str.endsWith(".gif"))
                return true
            else
                return false
            }

        function createChatRow(agent, text) {
            var article = document.createElement("article");
            article.className = "media child" + (agent === "You" ? " userMessage " : agent === "Nelly" ? " NellyMessage" : "");

            var figure = document.createElement("figure");
            figure.className = "media-left";

            var span = document.createElement("span");
            span.className = "icon is-large";

            var icon = document.createElement("i");
            icon.className = (agent === "You" ? "fas fas fa-2x fa-user" : agent === "Nelly" ? "nelly-icon" : "");

            var media = document.createElement("div");
            media.className = "media-content";

            var content = document.createElement("div");
            content.className = "content";

            var para = document.createElement("p");
            if(isHTML(text) === true){
                para.innerHTML = text
                }
		    if(isImg(text) === true){
		        text = text.replace(/"/g,"")
		        link_address = "url("+text+")"
		        para.style.backgroundImage = link_address
		        replaced_val = para.style.backgroundImage.replace('("','(')
		        para.style.backgroundImage = replaced_val.replace('")',')')
		        }
            else{
                var paraText = document.createTextNode(text);
                para.appendChild(paraText);
                }
            content.appendChild(para);
            media.appendChild(content);
            span.appendChild(icon);
            figure.appendChild(span);

            if (agent !== "Instructions") {
                article.appendChild(figure);
                };
            article.appendChild(media);

            if(agent==="You"){
                article.style.float="right";
                };
            if(agent==="Nelly"){
                article.style.float="left";
                };

            return article;
            }


	    function setChatRow(article,text){
	        var children_length = article.children;
	        var paraText = document.createTextNode(text);
            children_length[article.children.length-1].append(paraText)
	        return article
	        }


        function onLogout(){
            fetch('/logout/', {
                headers: new Headers({
                    "content-type": "application/json"
                    }),
                method: 'GET',
                }).then(response=>response.json()).then(resp=>{
		  window.location.href = resp.data
           })
        }

        document.getElementById("interact").addEventListener("submit", function(event){
            event.preventDefault()
            var text = document.getElementById("userInput").value;
            if(text.trim() != ""){
                var userMessage = {
                    data : text
                    };
                document.getElementById('userInput').value = "";

                var parDiv = document.getElementById("parent");
		        var date_info_user = document.createElement("p")
	    	    date_info_user.innerHTML = new Date();
                parDiv.append(createChatRow("You", text));
                parDiv.scrollTo(0, parDiv.scrollHeight);
		        date_info_user.style.float = "right"
		        parDiv.append(date_info_user)
		        parDiv.scrollTo(0, parDiv.scrollHeight);
		        fetch('/postMessage/', {
                     headers: new Headers({
                         "content-type": "application/json"
                        }),
                    method: 'POST',
                    body: JSON.stringify(userMessage)
                    }).then(response=>response.json()).then(resp=>{
                        // Change info for Model response
                        if(resp.data == 'NoActiveSession / Session closed')
                            {
                            window.location.href = "/"
                            }
                        else
                            {
                            var date_info_nelly = document.createElement("p")
                            date_info_nelly.innerHTML = new Date();
                            parDiv.append(createChatRow("Nelly", resp.data.text.text));
                            parDiv.scrollTo(0, parDiv.scrollHeight);
                            date_info_nelly.style.float = "left"
                            parDiv.append(date_info_nelly)
                            parDiv.scrollTo(0, parDiv.scrollHeight);
                            }
                        })
                }
            });

        document.getElementById("interact").addEventListener("reset", function(event){
            event.preventDefault()
            var text = document.getElementById("userInput").value;
            document.getElementById('userInput').value = "";

            fetch('/close/', {
                headers: {
                    'Content-Type': 'application/json'
                    },
                method: 'POST',
                }).then(data=>{
                   childNodes = document.getElementsByClassName('child')
                   while (childNodes.length>0) {
                      childNodes[0].parentNode.removeChild(childNodes[0]);
                   }
                })
            });

        var data = '{{data}}'
        var feedback_link = "Click here to provide us your feedback by filling the survey"
        var result = feedback_link.link("https://docs.google.com/forms/d/1Ld6J74RTZl9zvmk4muq28BLfF7FLq9lMwsrHNnFZtqQ")
        var parser = new DOMParser();
	    var doc = parser.parseFromString(result, 'text/html');
        if(data.length<=2){
           console.log("No history records")
            }
        else{
            var parDiv = document.getElementById("parent");
            data = data.replace('[','')
            data = data.replace(']','')
            data = data.replace(/}/g,'}}')
            data = data.split('},')
            for(i=0;i<data.length;i++){
                if(i==data.length-1){
                    data[i] = data[i].replace('}}','}')
                    }
                data[i] = JSON.parse(data[i].replace(/ &#39; /g,'\'').replace(/&#39;/g,'"').replace(/&#34;/g,'"'))
                parDiv.append(createChatRow("You",data[i]["Message"]));
                parDiv.scrollTo(0, parDiv.scrollHeight);
                parDiv.append(createChatRow("Nelly",data[i]["Response"]));
                parDiv.scrollTo(0, parDiv.scrollHeight);
                }
            }
        if(data.length>=25){
            parDiv.append(createChatRow("Nelly",doc.body.innerHTML));
            parDiv.scrollTo(0, parDiv.scrollHeight);
            }
        </script>
    </body>
</html>
